In [7]:
import pandas as pd

In [8]:
new_file=pd.read_csv('https://raw.githubusercontent.com/training-ml/Files/main/Advertising.csv')
new_file

     Unnamed: 0     TV  radio  newspaper  sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [1]:
2+5

7

# Title

## hello

In [4]:
5-6

-1

In [ ]:
import pandas as pd

In [4]:
new_file=pd.read_csv('https://raw.githubusercontent.com/training-ml/Files/main/Advertising.csv')
new_file

NameError: name 'pd' is not defined